<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/post-attivi']" class="nav-link">Post Attivi</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/post-non-attivi']" class="nav-link">Post Non Attivi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
