#primaryButton{
  margin-left: 20px;
}

.example-full-width {
  margin-left: 30px;
}

#pIsVisibile{
  margin-left: 20px;
}

.online{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  .cerchioverde{
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 100%;
  }
  .cerchiorosso{
  width: 20px;
  height: 20px;
  background-color:red;
  border-radius: 100%;
  }
  .nomi{
    margin-left: 5px;
  }
}

.list{
  li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  li p{
    margin-bottom: 0;
    margin-left: 5px;
  }
  .cerchio{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  }
}

.online_offline{
  li{
    display: flex;
    align-items: center;
    margin: 10px 10px;
  }
  li p{
    margin-bottom: 0;
    margin-left: 5px;
  }
  .cerchio{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  }
  .cerchioOnline{
  background-color: darkgreen;
  border-radius: 100%;
  }
  .cerchioOffline{
  background-color: darkred;
  border-radius: 100%;
  }
}

#onlineList{
  display: flex;
}
