<!--  DIRETTIVE
  3 Categorie: built-in, attribute (personalizzate) e structural
    - built-in (ngClass, ngStyle, ngModel) modificano il comportamento
    - attribute modificano comportamento o apperenza di un elemento
    - structural (*ngIf, *ngFor) cambiano il DOM aggiungendo o rimuovendo eventi
-->

<button mat-raised-button id="primaryButton" color="primary"(click)="onClick($event)">Primary</button>

<mat-form-field class="example-full-width">
  <mat-label>Username</mat-label>
  <input matInput placeholder="..." [(ngModel)]="title">
</mat-form-field>
<p>{{title}}</p>

<p *ngIf="isVisible" id="pIsVisibile">Visibile!</p>
<p *ngIf="!isVisible" id="pIsVisibile">Non visibile</p>

<!-- MODO ALTERNATIVO CON L'UTILIZZO DI THEN E ELSE, CHE FUNZIONA SOLO CON NG-TEMPLATE-->
<ng-template *ngIf="isVisible; then bloccoIf else bloccoElse"></ng-template>
<ng-template #bloccoIf>
  <p id="pIsVisibile">Sono visibile!</p>
</ng-template>
<ng-template #bloccoElse>
  <p id="pIsVisibile">Non sono visibile!</p>
</ng-template>

<div id="onlineList">
  <ul>
    <li *ngFor="let persona of persone" class="online">
      <p class="cerchioverde" *ngIf="persona.isOnline"></p>
      <p class="cerchiorosso" *ngIf="!persona.isOnline"></p>
      <p class="nomi">{{persona.nome}} {{persona.cognome}}</p>
    </li>
  </ul>

  <ul class="list">
    <li *ngFor="let persona of persone">
      <div class="cerchio" [ngStyle]="{'background': persona.isOnline ? 'lightskyblue' : 'lightcoral'}"></div>
      <p>{{persona.nome}} {{persona.cognome}}</p>
    </li>
  </ul>

  <ul class="online_offline">
    <li *ngFor="let persona of persone">
      <div class="cerchio" [ngClass]="{'cerchioOnline': persona.isOnline, 'cerchioOffline': !persona.isOnline}"></div>
      <p>{{persona.nome}} {{persona.cognome}}</p>
    </li>
  </ul>
</div>

