<!-- NAVBAR -->
<nav class="navbar bg-body-tertiary topnav sticky-top align-items-baseline ">
  <div class="container">
    <a class="navbar-brand">
      <img src="../../../assets/bird_2-removebg-preview.png" alt="HBW-logo" width="70" height="50">
    </a>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
    <li class="nav-item ms-4">
      <a class="nav-link" aria-current="page" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item ms-4">
      <a class="nav-link" aria-current="page" [routerLink]="['add']">Aggiungi Appartamento</a>
    </li>
  </ul>
  <div class="d-flex align-items-baseline flex-row">
    <p>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
      viewBox="0 0 16 16">
      <path
      d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
    </svg>
      {{nomeUtente}}</p>
    <button class="btn m-0" (click)="fede()">LogOut</button>
  </div>
</div>
</nav>

<!-- SINGLE PAGE -->

<div class="single-page">
  <div class="intro">
    <h2 class="title">{{newAppartament.title}}</h2>
    <h5>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right-circle-fill" viewBox="0 0 16 16">
        <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm5.904-2.803a.5.5 0 1 0-.707.707L9.293 10H6.525a.5.5 0 0 0 0 1H10.5a.5.5 0 0 0 .5-.5V6.525a.5.5 0 0 0-1 0v2.768L5.904 5.197z"/>
      </svg>
      Host
    </h5>
  </div>

<div class="container-fluid">

  <div class="row mari d-flex justify-content-center align-items-center">

    <div class="col-6">

      <img src={{newAppartament.urlPhoto}} class="img-fluid principale rounded" alt="...">

    </div>

    <div class="col-6 d-block">

      <div class="row secondarie justify-content-center" *ngFor="let photo of allPhotos">
        <div class="col-6 d-flex mb-1">
          <img src={{photo}} class="img-fluid rounded" alt="...">
        </div>
      </div>

    </div>

  </div>

</div>


<!--   <div class="immagini">
    <div class="img">

    </div>
    <div class="extraimg">
      <div class="img2">
      </div>
      <div class="img3">

      </div>
    </div>
  </div> -->

  <div class="info">
    <p class="description">{{newAppartament.description}}</p>
    <p class="price">{{newAppartament.prezzo}}€</p>
  </div>
</div>

<button [routerLink]="['/home']" class="btn btn-link text-dark">Indietro</button>


