<!--<app-prova></app-prova>-->

<!--  DIRETTIVE
  3 Categorie: built-in, attribute (personalizzate) e structural
    - built-in (ngClass, ngStyle, ngModel) modificano il comportamento
    - attribute modificano comportamento o apperenza di un elemento
    - structural (*ngIf, *ngFor) cambiano il DOM aggiungendo o rimuovendo eventi
-->

<button mat-raised-button color="primary"(click)="onClick($event)">Primary</button>

<mat-form-field class="example-full-width">
  <mat-label>Username</mat-label>
  <input matInput placeholder="..." [(ngModel)]="title">
</mat-form-field>
<p>{{title}}</p>

<p *ngIf="isVisible">Visibile!</p>
<p *ngIf="!isVisible">Non visibile</p>

<!-- MODO ALTERNATIVO CON L'UTILIZZO DI THEN E ELSE, CHE FUNZIONA SOLO CON NG-TEMPLATE-->
<ng-template *ngIf="isVisible; then bloccoIf else bloccoElse"></ng-template>
<ng-template #bloccoIf>
  <p>Sono visibile!</p>
</ng-template>
<ng-template #bloccoElse>
  <p>Non sono visibile!</p>
</ng-template>

