/*tag=> peso 1
 class=> peso 10
 id=> peso 100
 inline style=> peso 1000*/

a { /*tutti gli elementi *a */
    color: black;
}

.colore-rosso{ /*tutti gli elementi con la classe colore rosso*/
    color: red;
}

.sfondo-verde{
    background-color: green;
}

#colore-blu {
    color: blue;
}

/*selezione di figli*/

.paragrafo-speciale b, 
.paragrafo-speciale em{
    color: blue;
}


.area-speciale > span{
    font-weight: bold;
}

.area-speciale > ul > li > span{
    font-weight: bold;
}