body{
    background-color: black;
}

.btn{
    border-radius: 0%;
}

/*NAVBAR*/

#logo{
    height: 50px;
}

#icon{
    height: 35px;
}

/*INTRO-MENU*/

.genres-menu{
    margin-left: 40px;
}

.extra-buttons{
    display: flex;
    flex-flow: row;
    justify-content: right;
    margin-top: -40px;
}

/*FIRST ROW MENU*/

.trends-row{
    margin-top: 20px;
    margin-bottom: 50px;
}

.covers{
    width: 99%;
    transition: 2s;
    opacity: 0.7;
}

.covers:hover {
    opacity: 1;
    transition: 2s;
    cursor: pointer;
}

/*FOOTER*/

.icon-white{
    color: lightgray;
    padding-right: 10px;
}

#footer-elements{
    margin-top: 60px;
}

#footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* EDIT PROFILE */

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:lightgray;
    height: 1px;
}

#icon2{
    width: 200px;
    margin-left: 75px;
}

input[type="text"] {
    padding: 10px;
    font-size: 20px;
}

#autoplay-controls{
    margin-bottom: 30px;
}

input[type="checkbox"]{
    background-color: black;
    border: 1px solid white;
    padding: -10px;
    width: 30px;
    height: 30px;
}

input[type=checkbox]:checked{
    background-color: black;
}

/* BUTTONS */

#last-buttons{
    margin-left: 150px;
    margin-bottom: 50px;
}