body{
    background: url(../img/sfondo.png) fixed;
    font-family: 'Poppins', sans-serif;
}

header, footer, .table-titles {
    text-align: center;
    color: white;
}

#introduzione, footer {
    padding: 20px;
    margin: 20px;
    background-color: darkcyan;
}

main {
    padding: 70px;
    margin: 20px 40px;
    background-color: white;
    line-height: 1.5;
    text-align: center;
}

h1, h3{
    font-size: large;
    font-weight: bold;
}

.crediti{
    font-size: small;
    color: gray;
}

b.intro, .email-footer {
    color: deeppink;
}

ul, ol{
    text-align: left;
}

span.bordo {
    padding: 4px;
    margin: 2px 2px;
    background-color:gainsboro;
    border: 1px solid gray;
    border-radius: 13px;
}

.title{
    text-align: left;
    padding-bottom: 20px;
}

caption{
    text-align: center;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}

table{ /*da rivedere*/
    text-align: center;
    border-bottom: 2px solid blue;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 7px 10px 10px 10px;
}

th {
    letter-spacing: 0.1em;
    font-size: 90%;
    border: 3px solid blue;
    background-color: blue;
    text-align: center;
}

tr.colored{
    background-color: silver;
}

.two{
    padding-top: 30px;
}

#novità{
    padding: 20px;
    margin: 20px;
    background-color:darkgrey;
}

button{
    background-color:blue;
    font-size: medium;
    font-weight: bold;
    color:white;
}

input{
    border-bottom: 3px dotted black;
}

#correlati{
    padding: 10px;
    margin: 10px;
    background-color: gainsboro;
}

.correlati{
    text-align: left;
    color: blue;
}

p.data{
    font-size:small;
    line-height: 15px;
}
