.main{
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* background-image: url(../../../assets/bird_2-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; */
  background-color: #7fd8f8;
  z-index: 2 !important;
  .uccellino{
    position: absolute;
    z-index: -1;
    animation: bird 2s alternate infinite linear;
    @keyframes bird {
      from {
        transform: translatex(.55em) scaley(1.15);
      }
      to {
        transform: translatex(.55rem);
      }
  }
}

}
