#header {
    text-align: center;
}

#caption {
    color:darkcyan;
    background-color: rgba(245, 229, 181, 0.556);
    border-top: 3px solid yellow;
    padding: 12px;
}

main {
    margin: 0 auto;
    padding: 70px;
}

h1.title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.focaccia {
    display: block;
    margin: 0% auto;
}

.featured {
    border-left: 4px solid yellow;
    padding: 3px;
}

h4 {
    color:red;

}

#Ingredients, #Method {
    text-align: left;
}

h3, p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}